<html>
<head>
<title>pg accomodation</title>
<link href="E:/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body><div class="fifth">
  <div class="d1"><img src="t.png" height="100px" width="100px" style="margin-left:50px"/><p> Easy to find for seekers at Reliable Time</p></div>
  <div class="d2"><img src="images.png" height="100px" width="100px" style="margin-left:50px"/><p> Reliable at all rate Easy to find for seekers at Reliable Time</p></div>
  <div class="d3"><img src="eye.png" height="100px" width="100px" style="margin-left:50px"/><p> According to choice Easy to find for seekers at Reliable Time</p></div>
  <div class="d4"><img src="eye.png" height="100px" width="100px" style="margin-left:50px"/><p> Food and without food Easy to find for seekers at Reliable Time</p></div>
 </div>
 </body>
 </html>