<html>
<head>
<title>pg accomodation</title>
<link href="E:/css/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<div class="first">
 <i class="fas fa-home"></i>
	<h1><span id="ee">PG</span><br/><span id="pp">ACCOMODATION</span></h1>	
	<ol>
		<li><a href="admin.html">Add PG</a>
		 <ul class="sub">
		<li><a href="admin.html">add </a></li>
		<li><a href="admin.html">book</a></li>
		<li><a href="admin.html">clients</a></li>
		<li><a href="admin.html">edit account</a></li>
		 </ul>
		</li>
		<li><a href="admin.html">Members</a>
	     <ul class="sub">
		<li><a href="admin.html">ad1</a></li>
		<li><a href="admin.html">ad2</a></li>
		<li><a href="admin.html">ad2</a></li>
		<li><a href="admin.html">ad2</a></li>
		 </ul>
		</li>
		<li><a href="admin.html">Clients</a>
		 <ul class="sub">
		<li><a href="admin.html">pg</a></li>
		<li><a href="admin.html">rent</a></li>
		<li><a href="admin.html">flat</a></li>
		<li><a href="admin.html">ad2</a></li>
		 </ul>
		</li>
		<li><a href="admin.html">Rent Property</a>
		 <ul class="sub">
		<li><a href="admin.html">ad1</a></li>
		<li><a href="admin.html">ad2</a></li>
		<li><a href="admin.html">ad2</a></li>
		<li><a href="admin.html">ad2</a></li>
		 </ul>
		</li>
		<li><a href="formass.html">Login</a>
		</li>
		<li><a href="admin.html">Contact Us</a></li>
	</ol>
  </div> 
  </body>
  </html>