<html>
<head>
<title>message</title>
{% load static %}
<style>
.content{
position:absolute;
font-size:40px;
font-family:calibri;
width:100%;
z-index:1000;
text-align:center;
color:#DAA520;
margin-top:13%;
font-weight:bold;
}
.background{
height:100%;
width:100%;
position:fixed;
left:0;
right:0;
background-image:url("{% static 'images/p1.jpeg' %}");
background-size:cover;
background-position:center;
z-index:1;
-webkit-filter:blur(4px);
}
</style>
</head>
<body>
<div class="background"></div>
<div class="content">
<center><h1>{{ msg1 }}</h1></center>
</div>
</body>
</html>