<html>
<head>
<title>pg accomodation</title>
<link href="E:/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="seventh">
 <p2><center><b>CONTACT US</b></center></p2><br>
 <span><center>if you have some questions or need Help! please contact us!<br>
 We Provide Clean and healthy PG for you...</center></span><br><br/>
 <address>
<span id="n">NEPTUNE SOLUTION:</span><br/>
<span id="n">SCO 85-86, Third Floor, Sector 34A, Chandigarh</span> <br/>
<img src="t.png" class="m"/><span id="n">contact@neptunesolution.in</span><br/>
<img src="images.png" class="m"/><span id="n">+91172-4693718  +91 9780373638
 +91 9780415192</span>
</address>
<form>
<input type="text" name="t1" value="" placeholder="your name" id="x"><br/>
<input type="text" name="t2" value="" placeholder="your email" id="y"><br/><br/>
<input type="text" name="t3" value="" placeholder="your message" id="z"><br/><br/>
<input type="submit" value="Send Message" id="v">
</form>
  </div>
 </body>
</html>