<html>
<head>
<title>pg accomodation</title>
<link href="E:/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="sixth"><h1 id="xyz">GALLERY</h1>
<img src="pg1.jpg" class="z"/>
<img src="pg4.jpg" class="z"/>
<img src="pg5.jpg" class="z"/>
<img src="pg6.jpg" class="z"/>
<img src="pg8.jpg" class="z"/>
<img src="pg9.jpg" class="z"/>
<img src="pg10.jpg" class="z"/>
<img src="pg11.jpg" class="z"/>
<img src="pg14.jpg" class="z"/>
<img src="pg15.jpg" class="z"/>
<img src="pg16.jpg" class="z"/>
<img src="pg17.jpg" class="z"/>
 </div>
 </body>
 </html>